Code/exlibs/xerces/termin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Semesterplaner v0.1 Schema -->
<!-- Validiert eingelesene XML-Dateien -->
<!-- 09.01.2010 Marcel Kirbst IF08w1-B -->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
    <xsd:element name="termindb" type="termindbtype"/>

    <xsd:complexType name="termindbtype">
        <xsd:sequence>
            <xsd:element name="Termin" type="termintype" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="termintype">
        <xsd:all minOccurs="0" maxOccurs="1">
            <xsd:element name="bez" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="stt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="stp" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ort" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="vbz" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nbz" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="prio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="quelle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="typ" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
        <xsd:attribute tid="pid" type="xsd:string" use="required"/>
    </xsd:complexType>
</xsd:schema>
